<div>
  <h2 class="font-bold text-2xl">
    Topics
  </h2>
  <ul class="mt-4">
    {% set topics = craft.categories().group('topics').all() %}
    {% for topic in topics %}
      <li class="border-b first:border-t border-brown-200 text-lg">
        <a href="{{ topic.url }}"
          class="py-3 block text-primary-600 hover:text-primary-400">
          {{ topic.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
