<nav>
  <ul class="flex space-x-4 text-lg justify-center md:justify-start">
    <li>
      <a href="https://www.facebook.com/ScriptSlug"
        class="w-10 h-10 bg-brown-800 hover:bg-brown-700 text-white rounded-full flex justify-center items-center">
        <svg class="fill-current w-1/2 h-1/2">
          <title>
            Facebook
          </title>
          <use xlink:href="#social-facebook" />
        </svg>
      </a>
    </li>
    <li>
      <a href="https://www.twitter.com/ScriptSlug"
        class="w-10 h-10 bg-brown-800 hover:bg-brown-700 text-white rounded-full flex justify-center items-center">
        <svg class="fill-current w-1/2 h-1/2">
          <title>
            Twitter
          </title>
          <use xlink:href="#social-twitter" />
        </svg>
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/scriptslug_"
        class="w-10 h-10 bg-brown-800 hover:bg-brown-700 text-white rounded-full flex justify-center items-center">
        <svg class="fill-current w-1/2 h-1/2">
          <title>
            Instagram
          </title>
          <use xlink:href="#social-instagram" />
        </svg>
      </a>
    </li>
  </ul>
</nav>
