{
  "printWidth": 80,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "plugins": ["./node_modules/prettier-plugin-twig-melody"],
  "twigMelodyPlugins": ["./node_modules/prettier-twig-craft-cms"],
  "twigMultiTags": [
    "nav,endnav",
    "switch,case,default,endswitch",
    "ifchildren,endifchildren",
    "cache,endcache",
    "minify,endminify"
  ]
}
