{# --------------------------------- #}
{# Adopt Foster Page
{# --------------------------------- #}

{% extends '_layouts/default' %}

{% block content %}
  {% import '_macros/animals' as animals %}

  <div class="flex flex-wrap -m-4 font-normal">
    {{ animals.getAnimals('dogs') }}
  </div>
{% endblock %}
