{# --------------------------------- #}
{# Adopt Foster Page
{# --------------------------------- #}

{% extends '_layouts/default' %}

{% block content %}
  {% import '_macros/animals' as animals %}

  <div class="px-4 max-w-screen-2xl mx-auto py-20">
    {{ animals.getAnimals('', null, 'date-asc') }}
  </div>
{% endblock %}
