
{%- macro getAnimals(species, limit, sort) -%}
  {% switch sort %}
  {% case 'date-asc' %}
    {% set allAnimals = craft.shelterManager.animals()|sort((a, b) => a.dateBroughtIn <=> b.dateBroughtIn) %}
  {% case 'date-desc' %}
    {% set allAnimals = craft.shelterManager.animals()|sort((b, a) => a.dateBroughtIn <=> b.dateBroughtIn) %}
  {% case 'name' %}
    {% set allAnimals = craft.shelterManager.animals()|sort((a, b) => a.name <=> b.name) %}
  {% default %}
    {% set allAnimals = craft.shelterManager.animals() %}
  {% endswitch %}
  
  {% set break = false %}
  
  {% switch species %}
    {% case 'dogs' %}
      {% set animals = allAnimals|filter(v => v.species == 'Dog' and v.adoptable) %}
    {% case 'cats' %}
      {% set animals = allAnimals|filter(v => v.species == 'Cat' and v.adoptable) %}
    {% case 'other-animals' %}
      {% set animals = allAnimals|filter(v => v.species != 'Dog' and v.species != 'Cat' and v.adoptable) %}
    {% default %}
      {% set animals = allAnimals|filter (v => v.adoptable) %}
  {% endswitch %}
  
  <div class="flex flex-wrap -m-4 font-normal">
    {% for animal in animals if not break %}
      <div class="w-1/2 md:w-1/4 p-4 flex">
        <div class="shadow-lg bg-white rounded-lg w-full relative overflow-hidden">
          <figure class="w-full pb-[100%] relative bg-gray-300">
            {% if animal.image != '' %}
              <img src="{{ animal.image }}"
                alt=""
                class="h-full w-full absolute top-0 left-0 object-cover" />
            {% endif %}
          </figure>
          <div class="absolute text-white bg-brand-pink left-0 p-4 bottom-0 z-10 flex items-end justify-between w-full mt-4 shadow-lg">
            <h2 class="text-lg md:text-2xl font-bold">
              {{ animal.name|capitalize }}
            </h2>
            <p class="text-right md:text-lg text-white">
              {{ animal.species }}
            </p>
          </div>
          </div>
        </div>
        {% if loop.index == limit %}
          {% set break = true %}
        {% endif %}
    {% endfor %}
  </div>
  
{%- endmacro -%}
